.form-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    margin-top: 0 auto;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

input {
    height: 50px;
    font-size: 1.5rem;
    width: 400px;
    margin-bottom: 10px;
}

input[type=submit]{
    background: black;
    border: none;
    color: white;
    cursor: pointer;
}

button {
    height: 50px;
    font-size: 1.4rem;
    background: transparent;
    cursor: pointer;
}